<link rel="stylesheet" href="~/css/login.css" />
@model WebBanSach.Models.Extend.Password;
@{
    string header;
    if (ViewBag.nv)
    {
        header = "Nhân viên";
    }
    else
    {
        header = "Khách hàng";
    }
}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                @header.ToUpper()
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form asp-controller="Login" asp-action="ChangePw" asp-route-nv="@ViewBag.nv">
                        <div asp-validation-summary="All" style="color:red"></div>
                        <div class="form-group">
                            <label class="form-control-label">MẬT KHẨU CŨ</label>
                            <input name="p1" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">MẬT KHẨU MỚI</label>
                            <input asp-for="pw" type="password" class="form-control">
                        </div>
                         <div class="form-group">
                            <label class="form-control-label">NHẬP LẠI MẬT KHẨU MỚI</label>
                            <input name="p3" type="password" class="form-control">
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>



